<!DOCTYPE html>
<html>
	<head>
		{% block title %}
			<title>Home | Cory Siebler</title>
		{% endblock %}
		<meta charset="UTF-8">
		<meta http-equiv="content-language" content="en-us"/>
		<meta name="description" content="A software engineer and web developer.">
		<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>
		<meta name="robots" content="index, follow"/>
		<meta name="geo.region" content="US-AZ"/>
		<meta name="geo.placename" content="Phoenix"/>
		<meta name="geo.position" content="33.447736;-112.074242"/>
		<meta name="ICBM" content="33.447736, -112.074242"/>
		<meta property="og:title" content="Cory Siebler"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://corysiebler.com"/>
		<meta property="og:image" content="{{ asset('apple-touch.png') }}"/>
		<meta property="og:description" content="A software engineer and web developer."/>
		<link rel="manifest" href="{{ asset('build/manifest.json') }}"/>
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"/>
		<link rel="apple-touch-icon" href="{{ asset('apple-touch.png') }}"/>
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch.png') }}"/>
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch.png') }}"/>
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch.png') }}"/>
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch.png') }}"/>
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch.png') }}"/>
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch.png') }}"/>
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch.png') }}"/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch.png') }}"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="canonical" href="https://corysiebler.com/"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<div id="root"></div>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
