<!DOCTYPE html>
<html>
	<head>
		<title>{{ payload.subject }}</title>
	</head>
	<body>
		<div>
			<h1>New Contact Request</h1>
			<ul>
				<li>Name:
					{{ payload.name }}</li>
				<li>Email:
					{{ payload.email }}</li>
				<li>Phone:
					{{ payload.phone }}</li>
			</ul>
			<h2>{{ payload.subject }}</h2>
			<p>{{ payload.message }}</p>
		</div>
	</body>
</html>
